<!DOCTYPE html>
<html>
    <head>
        <title>RailsBlog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag 'bootstrap.min' %>
        <%= stylesheet_link_tag 'bootstrap-responsive.min' %>
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>        
        <%= javascript_include_tag 'jquery' %>
        <%= javascript_include_tag 'bootstrap.min' %>
        <%= javascript_include_tag 'angular.min' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body ng-app="rails_blog">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active">
                                <%= link_to 'بلاگ ریلز', root_path %>
                            </li>
                            <li><%= link_to 'مدیریت پست‌ها', controller: 'posts' %></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container">
            <%= yield %>
            <hr>
            <footer>
                <p>&copy; mshirdel@gmail.com 1394 - 2015</p>
            </footer>
        </div> <!-- /container -->
    </body>
</html>
